* {
    box-sizing: border-box;
}
#fix{
    display:flex !important
}
div#container {
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 960px;
    height: 500px;
}

div.policy.labels {
    width: 16%;
    padding: 25px;
    float: left;
    min-height: 200px;
}
div.policy.textbox {
    width: 36%;
    padding: 25px;
    float: left;
    min-height: 500px;
    height: 446px;
}

@media all and (max-width: 480px) {
    div.policy {
        width: 100%;
        display: block;
    }
}